<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 20px;
            background-color: #f0f0f0;
        }

        .notification {
            background-color: #4CAF50; /* Verde para éxito */
            color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>
    <div class="notification">
        <h2>¡Tablet eliminada exitosamente!</h2>
        <p>La tableta ha sido borrada de la base de datos.</p>
        <a href="{% url 'general_tablet_list' %}" class="app"> Volver a lista de Tabletas</a>
    </div>
</body>
</html>