<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación</title>
</head>
<body>
    <div class="notification">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{ object.pk }}">
            <p>¿Estás seguro de querer eliminar esta tableta?</p>
            <button type="submit">Eliminar</button>
        </form>
        <a href="{% url 'general_tablet_list' %}" class="app"> Volver a lista de Tabletas</a>
    </div>
</body>
</html>