<!DOCTYPE html>
<html>
<head>
    <title>Inventario de Tabletas</title>
    <style>
        /* Estilos básicos para separar los departamentos */
        .departamento {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <header>
        <a href="main.html" class="back-button">← Volver</a>
        <a href="main.html" class="home-button">Inicio</a>
    </header>
    <h1>Departamentos</h1>

    <div class="departamento">
        <h2>Luma 30</h2>
        <a href="lista_luma07.html">Ver Inventario</a>
    </div>

    <div class="departamento">
        <h2>Luma 07</h2>
        <a >Ver Inventario</a>
    </div>

    <div class="departamento">
        <h2>Recreacion y Deportes</h2>
        <a >Ver Inventario</a>
    </div>

    <div class="departamento">
        <h2>DTOP</h2>
        <a >Ver Inventario</a>
    </div>

    <div class="departamento">
        <h2>Educacion</h2>
        <a >Ver Inventario</a>
    </div>

    <div class="departamento">
        <h2>IT</h2>
        <a >Ver Inventario</a>
    </div>

</body>
</html>