<!DOCTYPE html>
<html>
<head>
    <title>Inventario de Uniformes</title>
    <style>
        /* Estilos básicos para separar los departamentos */
        .departamento {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <header>
        <a href="index.html" class="back-button">← Volver</a>
        <a href="index.html" class="home-button">Inicio</a>
    </header>
    <h1>Uniformes</h1>

    <div class="departamento">
        <h2>Pantalones</h2>
        <a >Ver Inventario</a>
    </div>

    <div class="departamento">
        <h2>Camisas</h2>
        <a >Ver Inventario</a>
    </div>

    <div class="departamento">
        <h2>Botas</h2>
        <a >Ver Inventario</a>
    </div>

</body>
</html>